<button mat-button (click)='newItem()'>Add Contact</button>
<table class='main' mat-table [dataSource]='items'>
  <!-- id -->
  <ng-container matColumnDef='id'>
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef='let contact'>{{contact.id}}</td>
  </ng-container>

  <!-- name -->
  <ng-container matColumnDef='name'>
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef='let contact'>{{contact.name}}</td>
  </ng-container>

  <!-- address -->
  <ng-container matColumnDef='address'>
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef='let contact'>{{contact.address}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef='columnsToDisplay'></tr>
  <tr mat-row (click)='selectRow(row)' *matRowDef='let row; columns: columnsToDisplay'></tr>
</table>
<app-contact-detail (reloadContacts)='reloadItems($event)' *ngIf='selectedItem && showEdit' [contact]='selectedItem'></app-contact-detail>
